.FooterCont {
  background-color: rgba(58, 63, 73, 0.9);
}
.footerRow {
  margin-left: 6%;
}
.grayRow {
  padding-top: 6%;
}
.grayRowEnd {
  padding-top: 3%;
}
.middleRow {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.footerHead {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 25px;
  color: #ffffff;
}
.footerHeadRow {
  width: auto !important;
  max-width: inherit !important;
}
.fi-png {
  width: 25% !important;
  height: auto !important;
}
.contactTxt {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
}
.contactInfoTxt {
  padding-top: 8%;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
}
.FImColFooter {
  position: relative;
  padding-left: 0% !important;
}
.SImColFootert {
  position: relative !important;
}
.TImColFooter {
  padding-right: 0% !important;
}
@media (max-width: 1115px) {
  .fi-png {
    width: 58px !important;
    height: auto !important;
  }
}
@media (max-width: 950px) {
  .footerHead {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .FImColFooter {
    width: 48%;
    margin-left: 34% !important;
    padding-bottom: 4%;
  }
  .SImColFooter {
    width: 56%;
    margin-left: 34%;
    padding-bottom: 2%;
  }
  .TImColFooter {
    width: 60%;
    margin-left: 35%;
  }
}
@media (max-width: 682px) {
  .FImColFooter {
    margin-left: 36% !important;
  }
}
@media (max-width: 580px) {
  .FImColFooter {
    margin-left: 32% !important;
  }
  .SImColFooter {
    margin-left: 30% !important;
  }
  .TImColFooter {
    margin-left: 30% !important;
  }
}
@media (max-width: 545px) {
  .contactTxt {
    font-size: 13px !important;
  }
  .contactInfoTxt {
    font-size: 13px !important;
  }
  .footerHead {
    font-size: 17px !important;
  }
  .FImColFooter {
    margin-left: 25% !important;
  }
  .SImColFooter {
    margin-left: 22% !important;
  }
  .TImColFooter {
    margin-left: 22% !important;
  }
}
@media (max-width: 493px) {
  .contactInfoTxt {
    padding-top: 16%;
  }
  .fi-png {
    width: 52px !important;
  }
  .FImColFooter {
    margin-left: 16% !important;
  }
  .SImColFooter {
    margin-left: 13% !important;
    width: 65% !important;
  }
  .TImColFooter {
    margin-left: 13% !important;
    width: 65% !important;
  }
}
@media (max-width: 430px) {
  .FImColFooter {
    margin-left: 7% !important;
  }
  .SImColFooter {
    margin-left: 3% !important;
    width: 65% !important;
  }
  .TImColFooter {
    margin-left: 3% !important;
    width: 65% !important;
  }
}
