.NavBar {
  background-color: #d3dbd4;
  box-shadow: 0px 5px 0px -2px rgba(186, 186, 186, 0.98);
  -webkit-box-shadow: 0px 7px 0px -2px rgba(186, 186, 186, 0.98);
  -moz-box-shadow: 0px 7px 0px -2px rgba(186, 186, 186, 0.98);
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  display: flex;
  justify-content: space-around;
}
.navContainer {
  /* justify-content: center !important; */
  padding-top: none !important;
  padding-bottom: none !important;
}
.JelovnikName {
  color: black;
  text-decoration: none;
}
.NabavkaName {
  color: black;
  text-decoration: none;
}
.Logo {
  height: auto;
  width: 200px;
}

.nav-link {
  color: black !important;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  /* padding-right: 30px !important; */
}

.iconsLogedIn {
  display: flex !important;
  justify-content: flex-end !important;
  position: absolute;
  top: 1%;
  left: 85%;
  padding-top: 10px;
  padding-right: 1%;
}
.iconsLogedOut {
  display: flex !important;
  justify-content: flex-end !important;
  position: absolute;
  top: 5%;
  left: 85%;
  padding-top: 10px;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("file:///D:/DownloadsD/bars-solid.svg");
  margin-top: 20%;
}
.navbar-dark .navbar-toggler {
  border: none;
}
.buttonModal {
  width: 48% !important;
}
.bag-quantity {
  padding-left: 6px;
  padding-right: 6px;
  font-size: 15px;
  height: 24px;
  border-radius: 3px;
  background-color: rgb(43, 43, 43);
  color: white;
}
.bagDiv {
  display: flex;
  justify-content: flex-end;
  width: 53px;
}
.modal {
  backdrop-filter: blur(10px) !important;
}
.nav-listaLogedOut {
  width: 46% !important;
}
.nav-listaLogedIn {
  width: 53% !important;
  padding-left: 0%;
  padding-right: 34%;
}
.nav-logLogedIn{
  margin-top: 20%;
}
@media (max-width: 1380px) {
  .iconsLogedIn {
    left: 84% !important;
  }
}
@media (max-width: 1180px) {
  .iconsLogedIn {
    left: 82% !important;
  }
}
@media (max-width: 992px) {
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1 !important;
    align-items: center;
  }
  .iconsLogedOut {
    left: 84% !important;
  }
}

@media (min-width: 992px) {
  .navbar-collapse {
    flex-basis: 0 !important;
    flex-grow: 1 !important;
    align-items: center;
  }
  .navbar-nav .dropdown-menu {
    position: absolute !important;
  }
}
@media (max-width: 909px) {
  .iconsLogedIn {
    margin-left: 2%;
  }
}
@media (min-width: 909px) {
  .NavCollapse {
    display: flex !important;
    justify-content: flex-start !important;
  }
  .navbar-nav .dropdown-menu {
    position: absolute !important;
  }
  .navbar-dark .navbar-toggler {
    display: none !important;
  }
  .navbar-collapse {
    flex-basis: 0;
    flex-grow: 0;
    align-items: center;
  }
  .iconsLogedIn {
    display: flex !important;
  }
  .iconsLogedOut {
    display: flex !important;
  }
  .navbar-nav {
    flex-direction: row;
  }
}
@media (max-width: 845px) {
  .navbar-toggler {
    margin-right: 18% !important;
  }
  .iconsLogedOut {
    left: 82% !important;
  }
  .iconsLogedIn {
    margin-left: -1%;
  }
}
@media (max-width: 815px) {
  .nav-listaLogedOut {
    margin-left: 6% !important;
  }
}
@media (max-width: 760px) {
  .navbar-toggler {
    margin-right: 20% !important;
  }
  .iconsLogedOut {
    left: 80% !important;
    top: 5% !important;
  }
  .iconsLogedIn {
    margin-left: -3%;
  }
}
@media (max-width: 680px) {
  .navbar-toggler {
    margin-right: 22% !important;
  }
  .iconsLogedOut {
    left: 78% !important;
    top: 5% !important;
  }
  .iconsLogedIn {
    margin-left: -5%;
  }
}
@media (max-width: 640px) {
  .navbar-toggler {
    margin-right: 24% !important;
  }
  .iconsLogedOut {
    left: 76% !important;
    top: 5% !important;
  }
  .iconsLogedIn {
    margin-left: -7%;
  }
}
@media (max-width: 560px) {
  .navbar-toggler {
    margin-right: 26% !important;
    font-size: 15px !important;
  }
  .iconsLogedOut {
    left: 74% !important;
  }
  .nav-link {
    font-size: 15px !important;
  }
  .iconsLogedIn {
    margin-left: -9%;
  }
}
@media (max-width: 490px) {
  .navbar-toggler {
    margin-right: 28% !important;
  }
  .iconsLogedOut {
    left: 72% !important;
    top: 2.5% !important;
  }
  .iconsLogedIn{
    top:-1.1%;
    margin-left: -11%;
  }
  .bag-quantity{
    padding-left: 5px;
    padding-right: 6px;
    font-size: 12px;
    height: 22px;  
  }
  .bagDiv{
    width: 44px;
  }
  .Logo {
    width: 125px;
  }
}
@media (max-width: 440px) {
  .navbar-toggler {
    margin-right: 30% !important;
  }
  .iconsLogedOut {
    left: 70% !important;
  }
  .iconsLogedIn{
    margin-left: -14%;
  }
}
@media (max-width: 400px) {
  .iconsLogedOut {
    left: 68% !important;
  }
  .iconsLogedIn{
    margin-left: -15%;
  }
}
@media (min-width: 400px) {
  .navbar-nav .dropdown-menu {
    position: absolute !important;
  }
}
@media (max-width: 365px) {
  .iconsLogedOut {
    left: 67% !important;
  }
  
}
